<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center  align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, fugiat iste quae dolor mollitia iusto eius molestias vitae aut officia laborum quis quisquam rem recusandae voluptates qui magnam beatae cum inventore provident. Laborum, nihil numquam maxime aliquid tempora, similique delectus mollitia harum fugit, earum magnam non hic! Quasi minus repellat ipsa dolorum ab ipsam quibusdam repudiandae, soluta ipsum architecto id magni blanditiis animi? Officiis assumenda doloremque quas velit magni cum quod ab tenetur, explicabo dignissimos ullam. Dignissimos suscipit in ab fugiat. Cumque nulla eius corrupti nemo! Eligendi non nisi asperiores, praesentium voluptatum ex commodi dolorem laudantium excepturi rem molestiae, debitis minima, earum animi magni odit facere delectus error et omnis? Aut ducimus minima fugit animi dolore eveniet molestiae repellendus. Reiciendis natus repellendus hic rerum doloremque quod dolore possimus ipsa soluta tempora, a quidem illum temporibus placeat minus cupiditate, amet culpa sapiente impedit facere, laborum adipisci esse inventore! Cupiditate praesentium officia accusantium labore quos excepturi minima quibusdam quis reiciendis, laboriosam, suscipit aut debitis, nobis id natus? Dolores reiciendis quidem dolor natus officia accusantium numquam excepturi in consectetur asperiores obcaecati nostrum quibusdam, libero aspernatur quasi, delectus impedit unde! Molestias neque maxime beatae ratione aliquam laborum reiciendis, repellat obcaecati, aspernatur consequuntur eum dicta.</p>
      </section>
    </main>

    <%- include('partials/footer')%>
    
  </body>
</html>
